<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	<link rel='icon' href='favicon.jpg' type='image/x-icon'/ >
	<title>Burger Menu</title>
</head>
<body>
	<div class="wrapper">
		<img src="/assets/img/burger.jpg" width="400px" id="burger-img">
		{{{ body }}}
	</div>

</body>
</html>
